.gameBoard{
    margin: auto;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 880px;
}

.cardSpot{
    width:220px;
}

@media only screen and (max-width: 600px) {
    .cardSpot{
        width:110px;
    }
  }